@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
  body {
    @apply antialiased;
    overflow-x: hidden;
  }
}

/* Restul custom classes tale FĂRĂ // comments */
@layer components {
  .max-width { @apply lg:mx-auto lg:px-24 xl:px-48 px-5; }
  .bg-gradient { @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600; }
  .text-gradient { @apply bg-clip-text bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600 text-transparent; }
  .section { @apply pt-28 xl:pt-28 2xl:pt-44; }
  .text-content { @apply dark:text-slate-100 text-slate-900; }
}

body::-webkit-scrollbar { display: none; }
